<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Resultados da Busca</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800" />

    <style>
      * {
        margin: 0;
        padding: 0;
      }
     
      html, body {
        min-height: 100%;
      }
      body {
        font-size: 14px;
        line-height: 25px;
        margin: 0px;
        font-family: open sans,Arial,sans-serif;
        -webkit-font-smoothing: antialiased;
				color: #313131;
      }
      header {
        margin-bottom: 50px;
        margin-top: 50px;
      }
      .main {
        margin: 0 auto;
        max-width: 800px;
      }

      ul {
        list-style-type: none;
      }

      li {
        padding-bottom: 20px;
      }

     
  </style>
</head>
<body>
    {{body}}
</body>
</html>