<html lang="en">
  <body style="margin: 0 auto; font-family: Helvetica, sans-serif; color: #333333; text-align: center; max-width: 520px; padding: 0 20px;">
    <div style="text-align: center; padding: 75px 0;">
    </div>
    <div style="font-size: 16px; text-align: left;">
      <div style="line-height: 150%;">
        <div style="font-size: 20px;">Você recebeu uma nova mensagem no site {{site}}</div>
        <div style="margin: 15px 0;">
         <b>Nome</b>: {{name}} <br>
         <b>E-mail</b>: {{email}}<br>
          <b>Mensagem</b>: {{message}}<br>
        </div>
      </div>
      <div>
        
      </div>
      <div style="line-height: 150%;">
        <div style="color:#828282; margin: 15px 0 75px;">
          - Equipe APAE Admin
        </div>
      </div>
    </div>
  </body>
</html>